<mat-card>Ingrese los datos del paciente</mat-card>

<!-- Otra forma de capturar los datos desde Angular 
    (ACTIVAR ReactiveFormsModule en app.module)-->
<form  class="example-container" [formGroup] = "form" #frmPacienteEdicion = "ngForm" (ngSubmit) = "operar()">
  <div class = "example-full-width" [hidden] = "false">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName = "id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required formControlName = "nombres">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos" required formControlName = "apellidos">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName = "dni">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dirección" required formControlName = "direccion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required formControlName = "telefono">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName = "email">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled] = "frmPacienteEdicion.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <button mat-raised-button color="accent" routerLink = "/paciente" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
  </form>
